# https://pip.pypa.io/en/stable/user_guide/#requirements-files
# use it to install (and update) dependencies with
# `pip install -U -r requirements.txt`
watermark
pandas
numpy
nbformat
pip
manim
matplotlib
scipy
ipykernel
jupyter
torch
optuna